@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Rubik:wght@300;400;500;600&display=swap");

/* hero-header */

:root {
  --yellow: #006d77;
  --blue: #83c5be;
  --dark: rgb(20, 20, 20);
}

body {
  margin: 0px;
}

#main-hero {
  display: flex;
}
.side {
  background-color: var(--dark);
  display: grid;
  height: 50vh;
  overflow: hidden;
  place-items: center;
  position: absolute;
  width: 100%;
}

.side .title {
  font-family: "Rubik", sans-serif;
  font-size: 7vw;
  margin: 0px 10vw;
  width: 80vw;
}

.side .fancy {
  font-family: "Lobster", cursive;
  font-size: 1.3em;
  line-height: 0.8em;
}

#left-side {
  background-color: var(--blue);
  width: 60%;
  z-index: 2;
}

#left-side .title {
  color: white;
}

#left-side .fancy {
  color: var(--yellow);
}

#right-side {
  background-color: var(--yellow);
}

#right-side .title {
  color: var(--dark);
}

#right-side .fancy {
  color: white;
}

/* end hero-header */

/* about section */

.container-about {
  color: black;
  position: absolute;
  top: 50%;
  width: 100%;
}

.container-about-2 {
  color: black;
  display: block;

  width: 100%;
}
